/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.espace-pub {
    border: 1px solid #b0b0b0;
	border-radius: 10px;
    padding: 12px;
}


.carousel-caption-custom {
	position: absolute;
	right: 15%;
	bottom: 1.25rem;
	left: 15%;

	text-align: left;
}